.title {
    align-items: center;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

.img-navbar {
    height: 350px;
    width: auto;
}

a {
    color: white !important;
}

.bg-primary{
	transition: all 1s ease;
}

.wellcome {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/fondo.jpg') center center / cover no-repeat fixed;
    height: 1000px;
}
.enviar{
    background-color: #0e7ec9; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.enviar :hover{
    opacity: 0.8;
}